<div class="container" *ngIf="cities.length > 0">
  <div class="widget">
      <h1 class="widget-title">Weather Widget</h1>
      <select class="city-select" [(ngModel)]="cityInput" (ngModelChange)="getWeatherAndForecast($event)">
        <option *ngFor="let city of cities" [ngValue]="city.nm">{{city.nm}} </option>
      </select>

       <div class="weather-container" *ngIf="weather">
          <div class="today-weather">
           Today at {{cityInput}}
           <span class="wi wi-icon-{{weather.id}}"></span>
           <span>{{weather.description}}</span>
         </div>
          <div class="next-days-weather">
            3 next days:
            <div class="icons-container">
            <span *ngFor="let weather of forecastWeather; let i = index" class="wi wi-icon-{{weather.id}}"></span>
          </div>
          </div>
       </div>
   </div>
</div>

<img *ngIf="!cities.length === 0" src="/assets/loading.gif">
